{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Video Gallery</h4>
         
          <form class="forms-sample" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="videoName">Video Name</label>
              <input type="text" class="form-control" id="videoName" name="video_name" placeholder="Video Name">
            </div>

            <div class="form-group">
              <label for="videoLink">Enter the embed link of the YouTube video.</label>
              <small style="display:block; font-size:12px; color:gray;"></small>
              <input type="text" class="form-control" name="video_gallery" placeholder="Eg:https://www.youtube.com/embed/6_JH0yd3xXY?start=3190">
            </div>
            
            <button type="submit" class="btn btn-primary me-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}