{% extends "admin_base.html" %}
{% load static %}
{% block content %}


    <section class="home">
        <div class="toggle-sidebar">
            <i class='bx bx-menu'></i>
            <div class="text">Toggle</div>
        </div>

        <div class="container-1">
                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

                    <h2>Add Data</h2>
                    <div class="content-1">
                        <div class="input-box">
                            <label for="name">Name</label>
                            <input type="text" placeholder="" name="name" required>
                        </div>    
                        
                        <div class="input-box">
                            <label for="email">Email</label>
                            <input type="text" placeholder="" name="designation" required>
                        </div>
                        
                        <div class="input-box">
                            <label for="image">Image</label>
                            <small style="display:block; font-size:12px; color:#0e0d0d;">Please upload images of the same height.</small>
                            <input type="file" placeholder="" name="image" required>
                        </div>
                        
                        <div class="button-container-1">
                            <button type="submit">ADD DETAILS</button>
                        </div>
                        
                    </div>
                </form>
        </div>
    </section>
    {% endblock %}   