{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Conventual Franciscan </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/simple-line-icons/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'admin_static/assets/js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'admin_static/assets/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'image/Asset_4300_400x107.png' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body class="with-welcome-text">

    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
    <div class="me-3">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
        <span class="icon-menu"></span>
      </button>
    </div>
    <div>
      <a class="navbar-brand brand-logo" href="{% url 'admin_dashboard' %}">
        <img src="{% static 'image/Asset_4300_400x107.png' %}" alt="logo" />
        
      </a>
      <a class="navbar-brand brand-logo-mini" href="../index.html">
        <img src="{% static 'image/Asset_4300_400x107.png' %}" alt="logo" />
      </a>
    </div>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-top" style="color:#34B1AA;">
    <ul class="navbar-nav">
      <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
        <h1 class="welcome-text">Welcome To  <span class="text-black fw-bold">Conventual Franciscan Provincialate Admin Dashboard</span></h1>
        <!-- <h3 class="welcome-sub-text">Your performance summary this week </h3> -->
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      
      <li class="nav-item dropdown d-none d-lg-block user-dropdown">
        <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
          <!-- <img class="img-xs rounded-circle" src="{% static 'image/Asset_4300_400x107.png' %}" alt="Profile image" style="height: 30px;"> </a> -->
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <div class="dropdown-header text-center">
            <img class="img-md rounded-circle" src="{% static 'image/Asset_4300_400x107.png' %}" alt="Profile image">
            <p class="mb-1 mt-3 font-weight-semibold">Conventual Franciscan Provincialate</p>
            <p class="fw-light text-muted mb-0">smksecoffice@gmail.com</p>
          </div>
          
          <a class="dropdown-item" href="logout_user"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      data-bs-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
  <div id="settings-trigger"><i class="ti-settings"></i></div>
  <div id="theme-settings" class="settings-panel">
    <i class="settings-close ti-close"></i>
    <p class="settings-heading">SIDEBAR SKINS</p>
    <div class="sidebar-bg-options selected" id="sidebar-light-theme">
      <div class="img-ss rounded-circle bg-light border me-3"></div>Light
    </div>
    <div class="sidebar-bg-options" id="sidebar-dark-theme">
      <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
    </div>
    <p class="settings-heading mt-2">HEADER SKINS</p>
    <div class="color-tiles mx-0 px-4">
      <div class="tiles success"></div>
      <div class="tiles warning"></div>
      <div class="tiles danger"></div>
      <div class="tiles info"></div>
      <div class="tiles dark"></div>
      <div class="tiles default"></div>
    </div>
  </div>
</div>

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_dashboard'%}">
        <!-- <i class="mdi mdi-grid-large menu-icon"></i> -->
        <i class="menu-icon mdi mdi-home"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item nav-category">Latest News</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false"
        aria-controls="form-elements">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">Latest News</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'admin_add_news_category' %}">Add News Ctegory</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'admin_view_category' %}">View News Category</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'admin_add_latest_news' %}">Add News Details</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'admin_view_latest_news' %}">View News Details</a></li>

        </ul>
      </div>
    </li>

    

    <li class="nav-item nav-category">Add Events</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#events" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-calendar-clock"></i>
        <span class="menu-title">Events</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="events">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'admin_add_events' %}">Add Events</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'admin_view_events' %}">View Events</a></li>
          
        </ul>
      </div>
      
    </li>
    </li>
    <li class="nav-item nav-category">Add About Video</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#aboutVideo" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-video"></i>
          <span class="menu-title">Add About Video</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="aboutVideo">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'add_about_video' %}">Add About Video</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'admin_view_video' %}">View About Video</a></li>
            
          </ul>
        </div>
      </li>
    </li>
    <li class="nav-item nav-category">Saints</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#saints" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-church"></i>
        <span class="menu-title">Saints</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="saints">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_saints' %}">Add Saints</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_saints' %}">View Saints</a></li>
          
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Provincial Administation</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#province" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-plus"></i>
        <span class="menu-title">Provincial Administation</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="province">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_provincial_administaration' %}"> Add Provincial Administation </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_provincial_administration' %}"> View Provincial Administation </a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">AP/Telengana Delegation</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#telengana" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-plus"></i>
        <span class="menu-title">AP/Telengana Delegation</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="telengana">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_telegana_delegation' %}"> Add Telegana Delegation </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_telengana_delegation' %}"> View Telegana Delegation </a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Kolkata Mission</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#kolkata" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-plus"></i>
        <span class="menu-title">Kolkata Mission</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="kolkata">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_kolkata_mission' %}"> Add Kolkata Mission </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_kolkata_mission' %}"> View Kolkata Mission </a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Sri Lankan Mission</li> 
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#srilanka" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-plus"></i>
        <span class="menu-title">Sri Lankan Mission</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="srilanka">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_srilankan_mission' %}"> Add Sri Lankan Mission </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_srilankan_mission' %}"> View Sri Lankan Mission </a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Set up of the province</li> 
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#friars" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-plus"></i>
        <span class="menu-title">Set up of the province</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="friars">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'admin_add_friars' %}"> Add Friars </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'friars_view' %}"> View Friars</a></li>
        </ul>
      </div>
    </li>

    <!-- <li class="nav-item nav-category">Obituary</li> 
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#obituary" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-arrow-right-bold-circle"></i>
        <span class="menu-title">Obituary</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="obituary">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'admin_add_obituary' %}"> Add Obituary</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'obituary_view' %}"> View Obituary</a></li>
        </ul>
      </div>
    </li> -->

    <li class="nav-item nav-category">Wishes</li> 
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#wishes" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-heart-box"></i>
        <span class="menu-title">Wishes</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="wishes">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_wishes' %}"> Add Wishes</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'wishes_view' %}"> View Wishes</a></li>
        </ul>
      </div>
    </li>
    
    <li class="nav-item nav-category">Enquiries</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#contact" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-phone-log"></i>
        <span class="menu-title">Enquiries</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="contact">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'admin_view_comments' %}">View Enquiries</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Account</li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout_user' %}">
        <i class="menu-icon mdi mdi-logout"></i>
        <span class="menu-title">Sign Out</span>
      </a>
    </li>
  </ul>
</nav>

{% block content%}
{% endblock %}
 
        <!-- plugins:js -->
      
  <!-- plugins:js -->
  <script src="{% static 'admin_static/assets/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'admin_static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'admin_static/assets/vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'admin_static/assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'admin_static/assets/js/off-canvas.js' %}"></script>
  <script src="{% static 'admin_static/assets/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'admin_static/assets/js/template.js' %}"></script>
  <script src="{% static 'admin_static/assets/js/settings.js' %}"></script>
  <script src="{% static 'admin_static/assets/js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'admin_static/assets/js/jquery.cookie.js' %}" type="text/javascript"></script>
  <script src="{% static 'admin_static/assets/js/dashboard.js' %}"></script>
  <script src="{% static 'admin_static/assets/js/proBanner.js' %}"></script>
  <!-- <script src="../../assets/js/Chart.roundedBarCharts.js"></script> -->
  <!-- End custom js for this page-->
</body>

</html>