{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
 
            <div class="col-lg-11 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Srilankan Mission</h4>
                  <a href="{% url 'add_srilankan_mission' %}">
                    <button class="btn btn-primary">Add Srilankan Mission</button>
                  </a>
                              
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                             Name
                          </th>
                          <th>
                            Designation
                          </th>
                         
                          <th>
                             Image
                          </th>
                       
                          <th>
                            Update
                          </th>
                          <th>
                            Delete
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for details in srilankan_mission %}
                        <tr>
                          <td style="width: 150px; ">
                            {{ details.name }}
                          </td>
                          <td style="width: 150px; ">
                            {{ details.designation }}
                          </td>
                        
                        
                          <td style="width: 150px; ">
                            {% if details.image %}
                            <img src="{{ details.image.url }}" alt="Current Image" style="width: 80px; height: 80px;">
                            <br>
                            <!-- <input type="checkbox" name="remove_image"> Remove Current Image -->
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                        </td>
                         
                          <td style="width: 150px; ">
                            <a href="{% url 'update_srilankan_mission' details.id  %}"><button><i class="mdi mdi-cloud-upload" aria-hidden="true"></i> </button></a>
                          </td>
                          <td style="width: 150px; ">
                            <a href="{% url 'delete_srilankan_mission' details.id  %}"><button><i class="mdi mdi-delete" aria-hidden="true"></i> </button></a>
                           
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}