{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

		
		<!--sab banner start-->
		<!-- <div class="sab_banner_wrap overlay" style="margin-top: -45px";>
			<div class="sub_slider">
                <div class="banner_slide">
                    <img src="{% static 'image/common-img.jpg' %}" alt="">
                </div>
                
            </div>
            <div class="container">
				<div class="sab_banner_text">
					<h3>{% trans "Franciscan Saints" %}</h3>
					
					<div class="banner_dots">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div> -->
		<!-- </div> -->
		<div class="sab_banner_wrap overlay" style="margin-top: -45px";>
			<div class="sub_slider">
                <div class="banner_slide">
                    <img src="{% static 'image/common-img.jpg' %}" alt="">
                </div>
                
            </div>
            <div class="container">
				<div class="sab_banner_text">
					<h3>{% trans "Franciscan Saints" %}</h3>
					
					<div class="banner_dots">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
		<!--sab banner end-->
		
		<div class="content">
			<section class="ministry_detail padding-bottom">
				<div class="container">
					<div class="ministry_column">
						<div class="left_side-content">
							<figure>
								<img src="{% static 'images/about-5.jpg' %}" alt="">
							</figure>
							<div class="ministry_content">
								<h4 class="custom-font-30px" style="color: #c62641;">{% trans "Saint Joseph of Cupertino" %} 1603 - 1663</h4>
								<p style="text-align: justify; font-family: 'Open Sans';color:black;">{% trans "saint joseph one" %}<br><br>

									{% trans "saint joseph two" %}<br><br>{% trans "saint joseph three" %}
                                    </p>
							</div>
						</div>
						<!-- <p style="text-align: justify;">and for the Blessed Virgin Mary, caused him to levitate in ecstasy. The fame of this "flying friar" quickly spread and soon he became a counselor and confessor to many humble folk and nobility.Saint Joseph of Cupertino died at the age of 60 in 1663. He was canonized a saint in 1767 and was later named the "patron of students taking exams," and the patron saint of aviators.</p> -->
                        <hr style="border: 1px solid #000; margin: 10px 0;">
						<div class="divider_30"></div>
						<h4 class="custom-font-30px" style="color: #c62641;">{% trans "Saint Bonaventure" %}1217 - 1274</h4>
						
						<div class="divider_30"></div>
						<div class="right_side-content">	
							<div class="ministry_content">
                                <p style="font-family: 'Open Sans'; color: black;"> {% trans "Saint Bonaventure one" %}<br><br>

									{% trans "Saint Bonaventure two" %}<br><br>
									
									{% trans "Saint Bonaventure three" %}<br><br>{% trans "Saint Bonaventure four" %}</p>
								
							</div>
							<figure>
								<img src="{% static 'images/saint-1.jpg' %}" alt="">
							</figure>
						</div>
					</div>
                    <hr style="border: 1px solid #000; margin: 10px 0;">
				</div>



                <div class="container">
					<div class="ministry_column">
						<div class="left_side-content">
							<figure>
								<img src="{% static 'images/saint-2.jpg' %}" alt="">
							</figure>
							<div class="ministry_content">
								<h4 class="custom-font-30px" style="color: #c62641;">{% trans "Saint Anthony of Padua" %} 1195 - 1231</h4>
								<p style="text-align: justify;font-family: 'Open Sans';color: black;">{% trans "Saint Anthony one" %}<br><br>

									{% trans "Saint Anthony two" %}<br><br>
									
									{% trans "Saint Anthony three" %}
									</p>
									
							</div>
							
						</div>
						
                        <hr style="border: 1px solid #000; margin: 10px 0;">
						<div class="divider_30"></div>
						<h4 class="custom-font-30px" style="color: #c62641;font-family: 'Open Sans';color: black;">{% trans "Saint Francis Anthony Fasani" %} 1681 - 1742</h4>
						
						<div class="divider_30"></div>
						<div class="right_side-content">	
							<div class="ministry_content">
                                <p style="font-family: 'Open Sans';color: black;">{% trans "Anthony Fasani one" %}.<br><br>

                                    {% trans "Anthony Fasani two" %}.<br><br>
                                    {% trans "Anthony Fasani three" %}.</p>
								
							</div>
							<figure>
								<img src="{% static 'images/saint-3.jpg' %}" alt="" >
							</figure>
						</div>
					</div>
                    <hr style="border: 1px solid #000; margin: 10px 0;">
				</div>
			</section>


            <div class="container">
                <div class="ministry_column">
                    <div class="left_side-content">
                        <figure>
                            <img src="{% static 'images/saint-4.jpg' %}" alt="">
                        </figure>
                        <div class="ministry_content">
                            <h4 class="custom-font-30px" style="color: #c62641;">{% trans "Saint Clare of Assisi" %} 1193 - 1253</h4>
                            <p style="text-align: justify;font-family: 'Open Sans';color: black;">{% trans "saint clare one" %}<br><br>
 
                                {% trans "saint clare two" %}<br>
                                {% trans "saint clare three" %}<br><br>
 
								{% trans "saint clare four" %}</p>
                        </div>
                        
                            
                        
                    </div>
                    
                    <hr style="border: 1px solid #000; margin: 10px 0;">
                    

                </div>
                
            </div>
        </section>


            <!--church prayer block start-->
            <div class="church_prayer_block height padding-0">
    			<div class="container">
    				<div class="church_prayer_detail padding">
    					<h3><I>{% trans 'God Dwells In Our Midst,' %}<br>{% trans 'In The Blessed Sacrament' %}<br>{% trans 'Of The Altar.' %}</I></h3><br><br>
						<p>{% trans 'Above all the grace and the gifts that Christ gives to his beloved is that of overcoming self..' %}</p>
						<P>{% trans 'SAINT FRANCIS OF ASSISI' %}</P>
						
    					<a href="{% url 'friends_of_smk' %}" class="default_btn black-bg_btn">{% trans 'Join Us Now' %}</a>
    				</div>
    				<div class="pull-right">
    					<figure>
    						<img src="{% static 'image/WhatsApp Image 2024-05-21 at 10.44.43.jpeg' %}" alt="">
    					</figure>
    				</div>
    			</div>
    		</div>
            <!--church prayer block end-->
		</div>
		
		{% endblock %}