{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
		<!--sab banner start-->
		<!-- <div class="sab_banner_wrap" style="margin-top: -45px">
			<div class="sub_slider">
                <div class="banner_slide">
					<img src="{% static 'image/IMG_69788888.JPG' %}" alt="">
                </div>
            </div>
            <div class="container">
				<div class="sab_banner_text">
					<h3>VOCATION</h3>
					
					<div class="banner_dots">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div> -->
		<div class="sab_banner_wrap overlay" style="margin-top: -45px";>
			<div class="sub_slider">
                <div class="banner_slide">
                    <img src="{% static 'image/common-img.jpg' %}" alt="">
                </div>
                
            </div>
            <div class="container">
				<div class="sab_banner_text">
					<h3>{% trans 'VOCATION' %}</h3>
					
					<div class="banner_dots">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
		<!--sab banner end-->
        
		
		<div class="content">
			<section id="portfolio-section" class="portfolio-section pad-top-120">
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div class="offset-md-2 col-md-8">
							<div class="title-wrap text-center">
								<div class="section-title">
									<!-- <span class="sub-title theme-color text-uppercase">Gallery</span> -->
									<h2 class="section-title theme-color margin-top-5"><b>{% trans 'NOVITIATE' %}</b></h2>
									<h6 style="word-spacing: 0.2em;color:black;font-family: 'Open Sans';">{% trans 'novitiate description' %}</h6>
									<span class="border-bottom center"></span>
								</div>
							</div>
						</div>
						<!--Portfolio Main Slider-->
						<div class="owl-carousel portfolio-default popup-gallery" data-loop="1" data-nav="0" data-dots="1" data-autoplay="1" data-autoplaypause="1" data-autoplaytime="5000" data-smartspeed="1000" data-margin="30" data-items="3" data-items-tab="2" data-items-mob="1">
							<!--Item-->
							<div class="item">
								<!--Portfolio Item-->										
								<div class="portfolio-item portfolio-overlay-wrap">
									<!-- .portfolio-thumb -->
									<div class="portfolio-thumb relative b-radius-6 o-hide">
										<img src="{% static 'image/novitiate-1.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
										<!-- .portfolio-wrap -->
										<div class="portfolio-wrap">
											<div class="portfolio-details-overlay">
												<div class="portfolio-icons">
													<a href="{% static 'image/novitiate-1.jpg' %}" class="popup-img" title="Gallery 1">
														<i class="ti-zoom-in"></i>
													</a>
												</div>
											</div>
										</div>
										<!-- .portfolio-wrap -->
									</div>
									<!-- .portfolio-thumb -->													
								</div>
								<!--Portfolio Item Ends-->
							</div>
							<!--Item Ends-->
							<!--Item-->
							<div class="item">
								<!--Portfolio Item-->										
								<div class="portfolio-item portfolio-overlay-wrap">
									<!-- .portfolio-thumb -->
									<div class="portfolio-thumb relative b-radius-6 o-hide">
										<img src="{% static 'image/novitiate-2.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
										<!-- .portfolio-wrap -->
										<div class="portfolio-wrap">
											<div class="portfolio-details-overlay">
												<div class="portfolio-icons">
													<a href="{% static 'image/novitiate-2.jpg' %}" class="popup-img" title="Gallery 2">
														<i class="ti-zoom-in"></i>
													</a>
												</div>
											</div>
										</div>
										<!-- .portfolio-wrap -->
									</div>
									<!-- .portfolio-thumb -->													
								</div>
								<!--Portfolio Item Ends-->
							</div>

							<div class="item">
								<!--Portfolio Item-->										
								<div class="portfolio-item portfolio-overlay-wrap">
									<!-- .portfolio-thumb -->
									<div class="portfolio-thumb relative b-radius-6 o-hide">
										<img src="{% static 'image/novitiate-3.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
										<!-- .portfolio-wrap -->
										<div class="portfolio-wrap">
											<div class="portfolio-details-overlay">
												<div class="portfolio-icons">
													<a href="{% static 'image/novitiate-3.jpg' %}" class="popup-img" title="Gallery 2">
														<i class="ti-zoom-in"></i>
													</a>
												</div>
											</div>
										</div>
										<!-- .portfolio-wrap -->
									</div>
									<!-- .portfolio-thumb -->													
								</div>
								<!--Portfolio Item Ends-->
							</div>
							<!--Item Ends-->
							<!--Item-->
							
							
						</div>
						<!--Portfolio Owl Slider-->
					</div>
					<!-- Row -->
				</div>
				<!-- Container -->
			</section>

			<!-- <section id="portfolio-section" class="portfolio-section pad-top-120"> -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div class="offset-md-2 col-md-8">
							<div class="title-wrap text-center">
								<div class="section-title">
									<!-- <span class="sub-title theme-color text-uppercase">Gallery</span> -->
									<h2 class="section-title theme-color margin-top-5"><b>{% trans 'POST-NOVITIATE' %}</b></h2>
									<h6 style="word-spacing: 0.2em;color:black;font-family: 'Open Sans';">{% trans 'post novitiate discription' %}</h6>
									<span class="border-bottom center"></span>
								</div>
							</div>
						</div>
						<!--Portfolio Main Slider-->
						<div class="owl-carousel portfolio-default popup-gallery" data-loop="1" data-nav="0" data-dots="1" data-autoplay="1" data-autoplaypause="1" data-autoplaytime="5000" data-smartspeed="1000" data-margin="30" data-items="3" data-items-tab="2" data-items-mob="1">
							<!--Item-->
							<div class="item">
								<!--Portfolio Item-->										
								<div class="portfolio-item portfolio-overlay-wrap">
									<!-- .portfolio-thumb -->
									<div class="portfolio-thumb relative b-radius-6 o-hide">
										<img src="{% static 'image/post-novitiate-1.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
										<!-- .portfolio-wrap -->
										<div class="portfolio-wrap">
											<div class="portfolio-details-overlay">
												<div class="portfolio-icons">
													<a href="{% static 'image/post-novitiate-1.jpg' %}" class="popup-img" title="Gallery 1">
														<i class="ti-zoom-in"></i>
													</a>
												</div>
											</div>
										</div>
										<!-- .portfolio-wrap -->
									</div>
									<!-- .portfolio-thumb -->													
								</div>
								<!--Portfolio Item Ends-->
							</div>
							<!--Item Ends-->
							<!--Item-->
							<div class="item">
								<!--Portfolio Item-->										
								<div class="portfolio-item portfolio-overlay-wrap">
									<!-- .portfolio-thumb -->
									<div class="portfolio-thumb relative b-radius-6 o-hide">
										<img src="{% static 'image/post-novitiate-2.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
										<!-- .portfolio-wrap -->
										<div class="portfolio-wrap">
											<div class="portfolio-details-overlay">
												<div class="portfolio-icons">
													<a href="{% static 'image/post-novitiate-2.jpg' %}" class="popup-img" title="Gallery 2">
														<i class="ti-zoom-in"></i>
													</a>
												</div>
											</div>
										</div>
										<!-- .portfolio-wrap -->
									</div>
									<!-- .portfolio-thumb -->													
								</div>
								<!--Portfolio Item Ends-->
							</div>
							<!--Item Ends-->
							<!--Item-->
							<div class="item">
								<!--Portfolio Item-->										
								<div class="portfolio-item portfolio-overlay-wrap">
									<!-- .portfolio-thumb -->
									<div class="portfolio-thumb relative b-radius-6 o-hide">
										<img src="{% static 'image/post-novitiate-3.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
										<!-- .portfolio-wrap -->
										<div class="portfolio-wrap">
											<div class="portfolio-details-overlay">
												<div class="portfolio-icons">
													<a href="{% static 'image/post-novitiate-3.jpg' %}" class="popup-img" title="Gallery 3">
														<i class="ti-zoom-in"></i>
													</a>
												</div>
											</div>
										</div>
										<!-- .portfolio-wrap -->
									</div>
									<!-- .portfolio-thumb -->													
								</div>
								<!--Portfolio Item Ends-->
							</div>
							
						</div>
						<!--Portfolio Owl Slider-->
					</div>
					<!-- Row -->
				</div>
				<!-- Container -->
			<!-- </section> -->

			<!-- <section id="portfolio-section" class="portfolio-section pad-top-120"> -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div class="offset-md-2 col-md-8">
							<div class="title-wrap text-center">
								<div class="section-title">
									<!-- <span class="sub-title theme-color text-uppercase">Gallery</span> -->
									<h2 class="section-title theme-color margin-top-5"><b>{% trans 'REGENCY YEAR' %}</b></h2>
									<h6 style="word-spacing: 0.2em;color:black;font-family: 'Open Sans';">{% trans 'regency description' %}</h6>
									<span class="border-bottom center"></span>
								</div>
							</div>
						</div>
						<!--Portfolio Main Slider-->
						<div class="owl-carousel portfolio-default popup-gallery" data-loop="1" data-nav="0" data-dots="1" data-autoplay="1" data-autoplaypause="1" data-autoplaytime="5000" data-smartspeed="1000" data-margin="30" data-items="3" data-items-tab="2" data-items-mob="1">
							<!--Item-->
							<div class="item">
								<!--Portfolio Item-->										
								<div class="portfolio-item portfolio-overlay-wrap">
									<!-- .portfolio-thumb -->
									<div class="portfolio-thumb relative b-radius-6 o-hide">
										<img src="{% static 'image/regency-1.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
										<!-- .portfolio-wrap -->
										<div class="portfolio-wrap">
											<div class="portfolio-details-overlay">
												<div class="portfolio-icons">
													<a href="{% static 'image/regency-1.jpg' %}" class="popup-img" title="Gallery 1">
														<i class="ti-zoom-in"></i>
													</a>
												</div>
											</div>
										</div>
										<!-- .portfolio-wrap -->
									</div>
									<!-- .portfolio-thumb -->													
								</div>
								<!--Portfolio Item Ends-->
							</div>
							<!--Item Ends-->
							<!--Item-->
							<div class="item">
								<!--Portfolio Item-->										
								<div class="portfolio-item portfolio-overlay-wrap">
									<!-- .portfolio-thumb -->
									<div class="portfolio-thumb relative b-radius-6 o-hide">
										<img src="{% static 'image/regency-2.jpg' %}" class="img-fluid" width="700" height="466" alt="" title="Invest Advices" />
										<!-- .portfolio-wrap -->
										<div class="portfolio-wrap">
											<div class="portfolio-details-overlay">
												<div class="portfolio-icons">
													<a href="{% static 'image/regency-2.jpg' %}" class="popup-img" title="Gallery 2">
														<i class="ti-zoom-in"></i>
													</a>
												</div>
											</div>
										</div>
										<!-- .portfolio-wrap -->
									</div>
									<!-- .portfolio-thumb -->													
								</div>
								<!--Portfolio Item Ends-->
							</div>
						</div>
						<!--Portfolio Owl Slider-->
					</div>
					<!-- Row -->
				</div>

				
				<!-- Container -->
			<!-- </section> -->
			    
              
            <div class="church_prayer_block height padding-0">
				<div class="container">
					<div class="church_prayer_detail padding">
    					<h3><I>{% trans 'God Dwells In Our Midst,' %}<br>{% trans 'In The Blessed Sacrament' %}<br>{% trans 'Of The Altar.' %}</I></h3><br><br>
						<p>{% trans 'Above all the grace and the gifts that Christ gives to his beloved is that of overcoming self..' %}</p>
						<P>{% trans 'SAINT FRANCIS OF ASSISI' %}</P>
						
    					<a href="{% url 'friends_of_smk' %}" class="default_btn black-bg_btn">{% trans 'Join Us Now' %}</a>
    				</div>
					<div class="pull-right">
						<figure>
							<img src="{% static 'image/assisi3.jpg' %}" alt="">
						</figure>
					</div>
				</div>
			</div>
		</div>
        

		

		   

        {% endblock %}