{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

		
		<!--sab banner start-->
		<!-- <div class="sab_banner_wrap" style="margin-top: -45px">
			<div class="sub_slider">
                <div class="banner_slide">
                    <img src="{% static 'image/WhatsApp Image 2024-05-21 at 10.44.40.jpeg' %}" alt="">
                </div>
            </div>
            <div class="container">
				<div class="sab_banner_text">
					<h3>VOCATION AND FORMATION APOSTOLATE</h3>
					<div class="banner_dots">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div> -->

		<div class="sab_banner_wrap overlay" style="margin-top: -45px";>
			<div class="sub_slider">
                <div class="banner_slide">
                    <img src="{% static 'image/common-img.jpg' %}" alt="">
                </div>
                
            </div>
            <div class="container">
				<div class="sab_banner_text">
					<h3>{% trans 'VOCATION AND FORMATION APOSTOLATE' %}</h3>
					
					<div class="banner_dots">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
		<!--sab banner end-->
		
		<div class="content">
			<section class="ministry_detail padding-bottom">
				<div class="container">
					<div class="ministry_column">
						<div class="left_side-content">
							<figure>
								<img src="{% static 'images/vocation-1.jpg' %}" alt="" style="height:200px;">
							</figure>
							<div class="ministry_content">
								<h4 class="custom-font-30px" style="color: #c62641;">Vocation And Formation Apostolate</h4>
								<p style="text-align: justify;font-family: 'Open Sans';color: black;">The harvest is plentiful, but the labourers are few; therefore ask the Lord of the harvest to send out labourers into His harvest.”(Mt, 9, 37:38).

                                    The Franciscan Discipleship says, “The vocation apostolate arises from the very mystery of the church and proposes to serve it so that the gifts which God continues to bestow upon his people</p>
							</div>
						</div>
						
						<div class="container-1">
							<input type="checkbox" id="check">
                            
							<p style="font-family: 'Open Sans';color: black;">will find a generous acceptance everywhere” (46). Therefore, involvement in the vocation apostolate is part of our Christian living. Inviting all of us to join this particular apostolate the same document reminds us: “all friars of the Order must collaborate in the vocation apostolate so that the people of God will become ever more aware of the universal call to salvation and of the diverse personal ways of responding to it.”(47). Holding to these words of our Father and Founder St. Francis of Assisi, each friar by praying and working hard gathers new buds into the Garden of Conventual charism. From the very beginning of the foundation of our Order in India, in 1981, this apostolate has been given the prime importance. Around 10 Friar-Priests and all Student-Friars engage in various aspects of vocation work all throughout the year to recruit genuine vocations to our Order in India.<br><br></p>
                            <h4 style="font-family: 'Open Sans';color: black;"><b>Formation Process</b></h4><p style="font-family: 'Open Sans';color: black;">As Christians, we believe that each person is created in the image and likeness of God. In the journey of life, we strive to become the people God wants us to be as disciples of the Lord Jesus. Formation is the process of becoming the person God wants us to be.<br><br>
                                The purpose of Franciscan formation is to make us sons of Saint Francis. Formation gives us the tools to deepen our relationship with the Lord as we recognize him in the poor and the needy, and as we come to know ourselves. The process of formation involves prayer, study, reflection, dialogue, and life in community. We grow from the wisdom of the Scriptures, our tradition, the example of Francis of Assisi, and the insights of our brothers in community. We never want to underestimate all that we learn in the practice of silent prayer as God continues to call us into a deeper relationship with Him. With each day, we are formed more and more into the person God is calling us to be. In our life as Friars, we have different stages of formation. Around 15 Friar-Priests are directly involved in the Formation Apostolate of The Province.<br><br>
                                </p>
								<div class="content-1">
									<h4><b>Orientation Year</b></h4><p style="font-family: 'Open Sans';color: black;">During this stage, the candidate is immersed in Franciscan community life. He is introduced to the Liturgy of Hours, attends daily Mass, deepens his own personal prayer, and continues to meet with a Spiritual Director. Candidates learn to be good stewards of the Friary by doing household and maintenance work. Keeping physically fit by working out or playing sports is encouraged. He is exposed to Franciscan traditions and studies the life of Saint Francis. It lasts for one year.<br><br>
                                        Aspirancy Years<br><br>
                                        
                                        During the two years of Aspirancy a candidate might do some college work or take pre-requisites for graduation. This is done while living in a community and deepening in the Franciscan way of life.<br><br>
									</p>
                                    <h4><b>Novitiate</b></h4><p style="font-family: 'Open Sans';color: black;">During this year, the candidate is formally accepted into the Order. He is now a novice. During this contemplative year, the novice deepens his knowledge and appreciation of the Rule of Saint Francis, the Constitutions of the Conventual Franciscans, and the history of the Franciscan movement. This stage of formation intensifies the development of the inner prayer life and the practical skills of being a Friar to one another. It also focuses quite purposefully on the vows of Poverty, Chastity and Obedience. At the end of the year, at the request of the Novice and with the approval of the Definitory, the Novice professes the vows of poverty, obedience, and chastity. Thus he becomes a Friar and a partial member in the Conventual community until he becomes a full – fledged member with solemn Profession.<br><br></p>
                                    <h4><b>Post-Novitiate</b></h4><p style="font-family: 'Open Sans';color: black;">During this stage of formation, the student-friar specializes in ministry training and academic studies. He might complete a college degree or begin graduate philosophical and theological studies. Usually we have three years of Philosophy Course and three and a half years of Theological Course. The focus on this three- or four-year period is on commitment. His continued discernment ultimately helps him conclude whether he is called and ready to profess the vows for the rest of his life. After five or six years, and passing through different stages of formation and ongoing discernment, he is finally able to profess Solemn Vows. Completing the Theological Course, normally we have the Priestly Ordination. All together, the whole formation program lasts for thirteen and a half years.<br><br></p>
                                    <h4><b>Regency Year</b></h4><p style="font-family: 'Open Sans';color: black;">After the philosophy years, the student-friars pause their academic formation for a regency year. The aim of this year is to evaluate the student-friar`s assimilation of the values taught during the previous years, especially his capacity to live and give service outside his formation community. During this year, every student-Friar goes through four Experiences, namely: Prayer, Mission, Social, and Community.<br><br></p>
                                    
                                    
								</div>
								<label for="check">Read More</label>
						</div>
						
				</div>
			</section>
			<div class="church_prayer_block height padding-0">
				<div class="container">
					<div class="church_prayer_detail padding">
    					<h3><I>{% trans 'God Dwells In Our Midst,' %}<br>{% trans 'In The Blessed Sacrament' %}<br>{% trans 'Of The Altar.' %}</I></h3><br><br>
						<p>{% trans 'It Would be considered a theft on our part' %}</p>
						
						<P>{% trans 'SAINT FRANCIS OF ASSISI' %}</P>
    					<a href="{% url 'friends_of_smk' %}" class="default_btn black-bg_btn">{% trans 'Join Us Now' %}</a>
    				</div>
					<div class="pull-right">
						<figure>
							<img src="{% static 'image/assisi3.jpg' %}" alt="">
						</figure>
					</div>
				</div>
			</div>
			
		</div>

		<style>
			.container-1{
			width: 1150px;
			background: ffff;
			padding: 20px;
			margin : 0 auto;
		}
		
		.container-1 h2{
			margin-bottom: 10px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		
		.container-1 p{
			line-height: 1.4;
			text-align: justify;
		}
		#check{
			display: none;
		}
		.content-1{
			display: none;
			transition: 0.5s linear;
		}
		label{
			display: inline-block;
			margin-top: 15px;
			color: white;
			cursor: pointer;
			font-weight: 1000;
			border-radius: 3px;
			background-color: #c62641;;
    		padding: 3px 13px;
		}
		#check:checked ~ .content-1{
			display: block;
		}
		#check:checked ~ label{
			/* display: none; */
			visibility: hidden;
		}
		#check:checked ~ label::after{
			content: 'Show Less';
			display: block;
			visibility: visible;
			color:white;
    		border-radius: 3px;
			background-color: #c62641;;
    		padding: 3px 13px;
		}
		@media (max-width: 767px) {
        .container-1 {
            display: block; /* Show content by default on mobile */
        }

		.ministry_column .container-1{
		float: left;
		width: 100%;
		padding: 0px;
		}

        /* label::after {
            content: 'show more';
        } */

    	#check:checked~label::after {
            content: 'show less';
        }
		div.right_side-content div.container-1,
		div.ministry_column div.left_side-content figure img{
		width: 100%;
		}.
	}
	@media screen and (min-width: 992px) and (max-width: 1199px) {
		.ministry_column .container-1{
		float: left;
		width: 100%;
		padding: 0px;
		}
	}
	@media (max-width: 991px) {	
		.ministry_column .container-1{
		float: left;
		width: 100%;
		padding: 0px;
		}
		
	}
		</style>
		
		{% endblock %}